name: Re-build and publish key4hep-externals image
on:
  push:
    branches:
    - main
    - ubuntu_image
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  packages: write
  id-token: write
  attestations: write

jobs:
  build-externals:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [alma9, ubuntu24]
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: endersonmenezes/free-disk-space@v2
        with:
          remove_android: true
          remove_dotnet: true
          remove_haskell: true
          remove_tool_cache: true
          remove_swap: true
          remove_packages: "azure-cli google-cloud-cli microsoft-edge-stable google-chrome-stable firefox postgresql* temurin-* *llvm* mysql* dotnet-sdk-*"
          remove_packages_one_command: true
          remove_folders: "/usr/share/swift /usr/share/miniconda /usr/share/az* /usr/share/glade* /usr/local/lib/node_modules /usr/local/share/chromium /usr/local/share/powershell"
          testing: false
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Docker Meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/key4hep-externals-${{ matrix.os }}
      - name: Determine spack ref
        id: getref
        run: |
          echo "spack_ref=$(cat .latest-commit)" >>${GITHUB_OUTPUT}
      - name: Build and Push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          push: true
          context: ./Docker
          file: ./Docker/${{matrix.os}}/Dockerfile-externals
          build-args: |
            GITHUB_REPOSITORY=${{ github.repository }}
            COMMIT_SHA=${{ github.sha }}
            SPACK_COMMIT=${{ steps.getref.outputs.spack_ref }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}