name: check-new-versions



on: 
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags'  
  schedule:
    - cron: "0 13 * * 1" # Every Monday at 1PM UTC (9AM EST)

jobs:
  check-new-versions:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Check for New Versions and Create Issue 
      env:
        KEY4HEP_COMMENT_BOT_TOKEN: ${{ secrets.KEY4HEP_COMMENT_BOT_TOKEN }}
      run: |
        git clone --depth 1 https://github.com/key4hep/spack
        source spack/share/spack/setup-env.sh
        spack repo add .
        ${GITHUB_WORKSPACE}/.github/scripts/generate_new_version_issue.sh
        ${GITHUB_WORKSPACE}/.github/scripts/post_new_version_issue_comment.sh
