name: concretize-lxplus
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cvmfs-contrib/github-action-cvmfs@v4
      with:
        cvmfs_repositories: 'sw.hsf.org,sw-nightlies.hsf.org,sft-nightlies.cern.ch,sft.cern.ch,geant4.cern.ch'
    - name: Start container
      run: |
        docker run -it --name CI_container -e GITHUB_ENV=${GITHUB_ENV}  -v ${GITHUB_WORKSPACE}:/Package -v /cvmfs:/cvmfs:shared -d ghcr.io/aidasoft/centos7:latest /bin/bash
    - name: Setup Spack
      run: |
        docker exec CI_container /bin/bash -c 'cd ./Package
        git clone --depth 1 https://github.com/key4hep/spack
        git clone --depth 1 https://github.com/key4hep/key4hep-spack
        '
    - name: Concretize
      run: |
        docker exec CI_container /bin/bash -c 'cd ./Package
        source spack/share/spack/setup-env.sh
        spack env activate environments/key4hep-release-user
        spack repo add key4hep-spack
        source environments/key4hep-release-user/setup_clingo_centos7.sh
        spack add key4hep-stack
        spack concretize -f --reuse | tee -a key4hep-stack-concretization.log;'
    - uses: actions/upload-artifact@v4
      with:
        name: concretization-log-artifact
        path: key4hep-stack-concretization.log
        retention-days: 5
