name: Concretize
description: |
  This workflow concretizes the spack environment that was used for the last build

on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:

jobs:
  concretize:
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.image }}-${{ matrix.build_type }}
      cancel-in-progress: true
    strategy:
      matrix:
        image: [alma9, ubuntu24]
        build_type: [release, nightly]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Start container
        run: |
            name=$(echo "${{ github.event.repository.name }}" | tr '[:upper:]' '[:lower:]')
            if [ "${{ matrix.image }}" = "alma9" ]; then
              docker run --name container --privileged -v ${GITHUB_WORKSPACE}:/key4hep-spack -v ~/.cache/ccache:/root/.cache/ccache -d ghcr.io/key4hep/key4hep-images/alma9-cvmfs tail -f /dev/null
            elif [ "${{ matrix.image }}" = "ubuntu24" ]; then
              docker run --name container --privileged -v ${GITHUB_WORKSPACE}:/key4hep-spack -v ~/.cache/ccache:/root/.cache/ccache -d ghcr.io/key4hep/key4hep-images/ubuntu24-cvmfs tail -f /dev/null
            else
              echo "Unknown image"
              exit 1
            fi

      - name: Setup environment and concretize
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |

            cat <<'EOF' > ${GITHUB_WORKSPACE}/script_container.sh
            set -e


            cd /
            git clone https://github.com/spack/spack -q
            cd /spack
            git checkout $(cat /key4hep-spack/.latest-commit) -q
            cd /
            source spack/share/spack/setup-env.sh
            git clone https://github.com/spack/spack-packages

            spack repo set --destination /spack-packages builtin
            spack repo add key4hep-spack

            cd /spack-packages
            git checkout $(cat /key4hep-spack/.latest-packages-commit) -q
            source /key4hep-spack/.cherry-pick

            if [ "${{ matrix.build_type }}" = "release" ]; then
                env=key4hep-release-opt
            elif [ "${{ matrix.build_type }}" = "nightly" ]; then
                env=key4hep-nightly-opt
                python3 /key4hep-spack/scripts/fetch_nightly_versions.py --path /key4hep-spack/environments/key4hep-common/packages.yaml --extra-path /key4hep-spack/environments/key4hep-common-opt/packages.yaml ""
            else
                echo "Unknown build type"
                exit 1
            fi
            cd /key4hep-spack/environments/${env}

            echo "========="
            echo "spack.yaml"
            cat spack.yaml
            echo "========="
            echo "packages.yaml"
            cat packages.yaml
            echo "========="
            echo "key4hep-common/packages.yaml"
            cat /key4hep-spack/environments/key4hep-common/packages.yaml
            echo "========="

            spack env activate .
            spack concretize

            EOF

            chmod +x ${GITHUB_WORKSPACE}/script_container.sh

            # cat ${GITHUB_WORKSPACE}/script_container.sh

            docker exec -e GITHUB_TOKEN="${GITHUB_TOKEN}" container /bin/bash -c "/mount.sh && /key4hep-spack/script_container.sh"
